[build]
  publish = "."
  functions = "netlify/functions"
  command = "npm install"

[functions]
  node_bundle = true

[[redirects]]
  from = "/.netlify/functions/*"
  to = "/.netlify/functions/:splat"
  status = 200
